In [3]:
import pandas as pd
import numpy as np

In [4]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'fruit': ['apple', 'orange', 'pine'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})
print(df1)
print(df2)

    fruit  weight  price
0   apple    high     12
1  banana  medium      1
2  orange     low      5
3   apple    high     13
4  banana  medium      2
5  orange     low      7
6   apple    high      2
7  banana  medium     10
8  orange     low      3
    fruit weight  price
0   apple   high     14
1  orange    low      4
2    pine   high      5
3   apple    low     13
4  orange   high      6
5    pine    low     10

In [6]:
# - 依照 fruit 欄位做合併
pd.merge(df1,df2,on = 'fruit')

     fruit weight_x  price_x weight_y  price_y
0    apple     high       12     high       14
1    apple     high       12      low       13
2    apple     high       13     high       14
3    apple     high       13      low       13
4    apple     high        2     high       14
5    apple     high        2      low       13
6   orange      low        5      low        4
7   orange      low        5     high        6
8   orange      low        7      low        4
9   orange      low        7     high        6
10  orange      low        3      low        4
11  orange      low        3     high        6

In [20]:
# - 依照 index 索引做合併
df1.join(df2)

ValueError: columns overlap but no suffix specified: Index(['fruit', 'weight', 'price'], dtype='object')

In [27]:
# 2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？
# 因為兩個資料表的列述必須相同才能進行合併

In [28]:
# 3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。
# 因為欄位不同不能正確合併
pd.merge(df1,df2)

Empty DataFrame
Columns: [fruit, weight, price]
Index: []

In [29]:
df1.join(df2, lsuffix='_df1', rsuffix='_df2')

  fruit_df1 weight_df1  price_df1 fruit_df2 weight_df2  price_df2
0     apple       high         12     apple       high       14.0
1    banana     medium          1    orange        low        4.0
2    orange        low          5      pine       high        5.0
3     apple       high         13     apple        low       13.0
4    banana     medium          2    orange       high        6.0
5    orange        low          7      pine        low       10.0
6     apple       high          2       NaN        NaN        NaN
7    banana     medium         10       NaN        NaN        NaN
8    orange        low          3       NaN        NaN        NaN