In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({
  'name': ['Alice', 'Bob'],
  'age': [20, 32]
})

In [3]:
for i in range(len(df)):
  print(df.iloc[i])

name    Alice
age        20
Name: 0, dtype: object
name    Bob
age      32
Name: 1, dtype: object

In [4]:
for d in df.iteritems():
  print(d)

('name', 0    Alice
1      Bob
Name: name, dtype: object)
('age', 0    20
1    32
Name: age, dtype: int64)

In [5]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [6]:
df.iloc[[3,4,8],[0,1]]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

In [7]:
# 2. 請將 dataFrame 所有字串都變成是大寫開頭。
df = pd.DataFrame([
    ['tom', 'mark', 'mary'],
    ['bob', 'alice', 'john']
])
df

     0      1     2
0  tom   mark  mary
1  bob  alice  john

In [23]:
columns = 0
while columns<=2:
    for names in df[columns]:
        print(names.title())
        columns+=1

Tom
Bob
Mary
John

In [28]:
columns = 0
while columns<=2:
    for names in df[columns]:
        print(df[columns].str.title())
        columns+=1

0    Tom
1    Bob
Name: 0, dtype: object
0     Mark
1    Alice
Name: 1, dtype: object
0    Mary
1    John
Name: 2, dtype: object

KeyError: 3